---
import Pinata from "../components/react/Pinata";
import MainInfo from "../components/MainInfo.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cumpleaños - Farith</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/assets/4.png" />

		<meta property="og:image" content="/Farith_logo_mini.png" />

		<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Rampart+One&display=swap"
			rel="stylesheet"
		/> -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rye&display=swap"
			rel="stylesheet"
		/>
		<style is:global>
			:root {
				font-family: "Paytone One", "Rye", sans-serif;
				/* font-family: "Rampart One", cursive; */
			}
			html,
			body {
				margin: 0;
				padding: 0;
				height: 100%;
				background-color: #ffff;
				display: flex;
				justify-content: center;
			}

			* {
				box-sizing: border-box;
			}

			main {
				width: 100%;
				max-width: 600px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				z-index: 1;
				overflow-x: hidden;
			}
		</style>
	</head>
	<body>
		<main class="">
			<!-- <Pinata /> -->
			<MainInfo />
			<div class="h-[500px]">Información general</div>
			<div class="h-[500px]">Footer</div>
		</main>
	</body>
</html>
